{"swagger":"2.0","info":{"license":{"name":"Apache License Version 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"},"version":""},"host":"openshift.io","basePath":"/api","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/status":{"get":{"tags":["status"],"summary":"show status","description":"Show the status of the current running instance","operationId":"status#show","produces":["application/vnd.status+json","application/vnd.status+json"],"responses":{"200":{"description":"Resource created","schema":{"$ref":"#/definitions/Status"},"headers":{"Cache-Control":{"type":"string"},"ETag":{"type":"string"},"Last-Modified":{"type":"string"}}},"503":{"description":"Service Unavailable","schema":{"$ref":"#/definitions/Status"}}},"schemes":["http"]}}},"definitions":{"Status":{"title":"Mediatype identifier: application/vnd.status+json; view=default","type":"object","properties":{"buildTime":{"type":"string","description":"The time when built","example":"Atque quae eligendi commodi quod eaque quo."},"commit":{"type":"string","description":"Commit SHA this build is based on","example":"Nisi est."},"error":{"type":"string","description":"The error if any","example":"Dicta vel libero mollitia sed dolore."},"startTime":{"type":"string","description":"The time when started","example":"Placeat blanditiis perferendis delectus qui alias."}},"description":"The status of the current running instance (default view)","example":{"buildTime":"Atque quae eligendi commodi quod eaque quo.","commit":"Nisi est.","error":"Dicta vel libero mollitia sed dolore.","startTime":"Placeat blanditiis perferendis delectus qui alias."},"required":["commit","buildTime","startTime"]}},"responses":{"OK":{"description":"Resource created","headers":{"Cache-Control":{"type":"string"},"ETag":{"type":"string"},"Last-Modified":{"type":"string"}}}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"JWT Token Auth\n\n**Token URL**: http://openshift.io/api/login/authorize","name":"Authorization","in":"header"}}}