basePath: /api
consumes:
- application/json
definitions:
  Status:
    description: The status of the current running instance (default view)
    example:
      buildTime: Atque quae eligendi commodi quod eaque quo.
      commit: Nisi est.
      error: Dicta vel libero mollitia sed dolore.
      startTime: Placeat blanditiis perferendis delectus qui alias.
    properties:
      buildTime:
        description: The time when built
        example: Atque quae eligendi commodi quod eaque quo.
        type: string
      commit:
        description: Commit SHA this build is based on
        example: Nisi est.
        type: string
      error:
        description: The error if any
        example: Dicta vel libero mollitia sed dolore.
        type: string
      startTime:
        description: The time when started
        example: Placeat blanditiis perferendis delectus qui alias.
        type: string
    required:
    - commit
    - buildTime
    - startTime
    title: 'Mediatype identifier: application/vnd.status+json; view=default'
    type: object
host: openshift.io
info:
  license:
    name: Apache License Version 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: ""
paths:
  /status:
    get:
      description: Show the status of the current running instance
      operationId: status#show
      produces:
      - application/vnd.status+json
      - application/vnd.status+json
      responses:
        "200":
          description: Resource created
          headers:
            Cache-Control:
              type: string
            ETag:
              type: string
            Last-Modified:
              type: string
          schema:
            $ref: '#/definitions/Status'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/Status'
      schemes:
      - http
      summary: show status
      tags:
      - status
produces:
- application/json
responses:
  OK:
    description: Resource created
    headers:
      Cache-Control:
        type: string
      ETag:
        type: string
      Last-Modified:
        type: string
schemes:
- http
securityDefinitions:
  jwt:
    description: |-
      JWT Token Auth

      **Token URL**: http://openshift.io/api/login/authorize
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
